@use "../../styles/colors.scss" as colors;

.listContainer{
 display: flex;
 flex-wrap: wrap;
 min-height: 100vh;
 width: 80%;
 margin-top: 10vh;
 margin-bottom: 10vh;
 justify-content: space-between;
 gap: 93px;
}